/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(../fonts/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(../fonts/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 整體的CSS */
*{
font-family: Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

body {
background: url('../images/background.png')center center fixed no-repeat;
background-size: cover;
}

.logo{
  font-family: 'Righteous', cursive;
  text-shadow: 2px 2px #6c757d; 
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #fff;
}

/* stroke */
nav.stroke ul li a{
  position: relative;
}

nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 2px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.stroke ul li a:active {
  border-radius: 3px;
  background: rgba(250, 250, 250, 0.25);
}

.vw-75{
min-width:75vw!important
}

/*glow*/
.glow:hover{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00ffff, 0 0 40px #2196f3, 0 0 50px #4285f4, 0 0 60px #00c, 0 0 70px #00007d;
  }
  
  to {
    text-shadow:  0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #afe8ff, 0 0 50px #7debff, 0 0 60px #4dfff2, 0 0 70px #4daaff, 0 0 80px #00c;
  }
}

/*游標*/
.pointer {cursor: pointer;}
	
/*#container {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}*/

.box-shadow{
	box-shadow:0px 0px 15px 4px rgba(255,255,255,0.4);
}

.rounded-shadow{
	box-shadow:0px 0px 5px 1px rgba(255, 255, 255, 0.4);
	/* box-shadow: inset 0px 0px 20px 1px rgba(0, 211, 255, 0.4); */
}

.hr-shadow{
	box-shadow:0px 0px 20px 3px rgba(0, 194, 255, 0.4);
}

.page-content.full-width {
    padding: 15% 0;
    margin: 0 auto;
}

/* 登入的CSS */
@media (min-width: 992px)
.page-content.full-width {
    width: 100%;
    left: 0;
}
.widget > .card-heading {
    padding: 26px;
    border: 0;
    background: #fff;
}

.widget > .card-body {
    padding: 0 26px 26px 26px;
}

.form-group {
    margin-bottom: 1rem;
}

/* 會員資料的CSS */

div.dataTables_length {
    border-bottom: 1px solid #dee2e6;
    margin: 2px 0 0;
    padding: 15px 10px 22px;
}

 div.dataTables_filter{
	border-bottom: 1px solid #dee2e6;
    margin: 2px 0 0;
    padding: 15px 10px 22px;
	
 }

table.dataTable {
    margin: 0!important;
    border-collapse: collapse!important;
}

/*表格*/

.t00{
	height:10%; 
	background-color: white;
	border-collapse: collapse;
}

.three1{
	width:2%;
	height:60px;
	border-top:2px solid white;
	border-bottom:2px solid white;
	border-collapse: collapse;
}

.three2{
	height:60px;
	border-top:2px solid white;
	border-bottom:2px solid white;
	border-collapse: collapse;
}

.three{
	border-top:2px solid white;
	border-bottom:2px solid white;
	border-collapse: collapse;
}

.to{
	border-left:2px solid white;
	border-right:2px solid white;
	border-collapse: collapse;
}

.t01{
	width:5%;
	height:60px;
	background-color:white;
	border-collapse: collapse;
}

.t02{
	width:80px;
	height:40px;
	background-color:white;
	border-collapse: collapse;
}

.bg-khaki{
    color: #000!important;
    background-color: #f0e68c!important;
}

.bg-amber{
    color: #000!important;
    background-color: #ffc107!important;
}
/*會員框*/

/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute;
    left: -5%;
    transition: 0.3s;
    padding: 0.6%;
    width: 6%;
    text-decoration: none;
    font-size: 5%;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#blog {
    top: 80px;
}

/* btn color */
.nm {
    color: #212529;
    background-color: #9F86FF;
    border-color: #9F86FF;
}

.nm:hover {
    color: #fff;
    background-color: #8160ff;
    border-color: #7753ff;
}

/*淡出動畫*/
   .w3-animate-opacity{animation:opac 0.8s}
   @keyframes opac{from{opacity:0} to{opacity:1}}

/*GoTop*/
  #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    border-radius:999em;
    padding: 10px;
    box-shadow:0px 0px 15px 4px rgba(255,255,255,0.4);
  }
  #back-to-top:hover {
    background: #e9ebec;
  }
  #back-to-top:active {
   background: rgba(0,123,255,.25);
   color: #fff;
   box-shadow:0px 0px 15px 4px rgba(255,255,255,1);
  }
  #back-to-top.show {
    opacity: 1;
  }
  #content {
    height: 2000px;
  }
